* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #2A2B2DFF;
    padding-top: 25px;

}

nav {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15px;
    background-color: transparent;
    border-bottom: solid;
    border-width: 5px;
    border-color: var(--mainColor);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav ul li {
    display: block;
    font-size: 24px;
    color: var(--mainColor);
    font-weight: lighter;
    letter-spacing: 2px;
    text-transform: uppercase;
}

nav ul li:nth-of-type(1){
    margin-right: auto;
    font-family: 'Pacifico', cursive;
}

div.login-container {
    width: 500px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 3px 3px 10px black;
    background-color: var(--bg2Color);
}

div.login-container h1 {
    display: block;
    text-align: center;
    color: var(--mainColor);
}

div.login-image-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

div.login-image-container i {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 120px;
    color: var(--mainColor);
}

form.login-form {
    margin-top: 40px;
}

form.login-form input {
    display: block;
    width: 70%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 16px;
    border: solid 2px var(--mainColor);
    border-radius: 20px;
    background-color: lightgray;
}

form.login-form input:focus {
    outline: none;
}

form.login-form input:nth-of-type(3) {
    background-color: transparent;
    color: var(--mainColor);
    transition: .3s;
}

form.login-form input:nth-of-type(3):hover {
    background-color: var(--mainColor);
    color: #37383B;
}

.btn-open-create-account-form {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: transparent;
    color: lightgray;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.btn-open-create-account-form:hover {
    cursor: pointer;
    color: var(--helpColor);
}

.error {
    margin-top: 10px;
    text-align: center;
    color: var(--mainColor);
}
