* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
}

:root {
    --mainColor: #D9514EFF;
    --helpColor: #2DA8D8FF;
    --bgColor: #2A2B2DFF;
    --bg2Color: #37383B;
}

body {
    height: 100%;
    overflow: hidden;
    background-color: var(--bgColor);
    padding-top: 25px;
}

.pageContent {
    max-height: calc(100vh - 92px);
    overflow-y: auto;
    margin-bottom: 50px;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #37383B;
    border-radius: 10px;
}