* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
}

body {
    height: 100%;
    overflow: hidden;
    background-color: #2A2B2DFF;
    padding-top: 25px;
}

.pageContent {
    max-height: calc(100vh - 92px);
    overflow-y: auto;
    margin-bottom: 50px;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #37383B;
    border-radius: 10px;
}